@model IEnumerable<SMARTchat.BLL.DTOs.MessageDTO>
@{
    ViewBag.Title = "Favorites";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/Content/style.css" media="screen" type="text/css" />
    <link rel="icon" href="/Content/Images/smart.png" type="image/x-icon">
    <link rel="shortcut icon" href="/Content/Images/smart.png" type="image/x-icon">
    <link rel="stylesheet" href="/Content/font-awesome-4.6.3/css/font-awesome.min.css">
</head>
<body>
<header class="smarticon">
    <p class="button28">@Html.ActionLink("Log out", "Login", "Account")</p>
    <p class="button28">@Html.ActionLink("Back to chat", "Index", "Chat")</p>
    <img src="/Content/Images/smart_logo.png" alt="SMARTbusiness">
    <h2 align="center">See your favourite messages from all channels</h2>
</header>
   
<div class="container">
        <div id="favourites">
            <table class="messages">
                @foreach (var item in Model)
                {
                    <tr>
                        <td><img src=@String.Concat("data:image/png;base64,",@item.User.Image) alt="User icon" id="user_icon"></td>
                        <td>
                            <ul>
                                <li id="messageInfo">@item.User.Name&nbsp;&nbsp;<span>@item.SendTime &nbsp;&nbsp;</span><span>@item.Channel.Name</span></li>
                                <li id="messageText">@item.Content</li>
                            </ul>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
</body>
</html>